.app-title {
  font-size: 24px;
}

.box-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  font-family: sans-serif;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.vertical-container {
  display: flex;
  align-items: stretch;
  flex: auto 1 1;
  flex-direction: column;
}

.horizontal-container {
  display: flex;
  flex: auto 1 1;
  flex-direction: row;
  align-items: stretch;
  padding: 0 16px;
}

.action-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 20px;
  padding: 16px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #555;

  color: #555;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
}

.action-toggle-button:hover {
  color: #fff;
  background-color: #555;
}

.action-toggle-button.small {
  width: 30px;
  padding: 1px;
}

.action-toggle-button.wysihtml-command-active {
  color: #fff;
  background-color: #777 !important;
}
